{% extends 'base.html.twig' %}

{% block title %}Locations de vacances, logements, expériences et lieux{% endblock %}

{% block body %}
    
    <div class="container">
            <div class="jumbotron text-center jumbo-main">
                <h1 class="display-3">Bievenue sur SymfonyBNB</h1>
                <p class="lead">SymfonyBNB est une plateforme communautaire payante de location et de réservation de logements de particuliers</p>
                <hr class="my-4">
                <p style="font-size: 15px;">Vous êtes voyageur ? Et vous voulez voir où vous pourrez vous loger pour votre prochaine déplacement ? N'attendez plus et allez <strong>consulter les annonces</strong></p>
                <div class="btn-home mt-5">
                    <a href="#main-img" class="btn btn-primary rounded">Voir nos annonces</a>
                    <a href="#best-ads" class="btn btn-primary rounded">Nos appartements les mieux notés</a>
                    <a href="#best-owner" class="btn btn-primary rounded">Nos propriétaires stars</a>
                </div>
            </div>
        <div class="img-main rounded" id="main-img">
            <div class="col-md-5 inner-img-main">
                <p>Découvrez les aventures SymfonyBNB</p>
                <h2>Des séjours organisés dans des lieux extraordinaires</h2>
                <p>Logements, repas et activités compris</p>
                <a href="{{ path('ads_index') }}" class="inner-link-main"><strong>En savoir plus ></strong></a>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="mt-5 mb-4">
        
        <h5 class="mb-4" id="best-ads"><i class="fa fa-star" aria-hidden="true" style="color: #daa520;"></i> Nos meilleures annonces</h5>
        <div class="row">
                <div class="col-md-4">
                        <div class="card ng-light mb-3">
                            <div class="card-header text-center">
                                3 chambres, <strong>49€/niot</strong><br>
                                <small>Pas encore noté</small>
                            </div>
            
                            <img src="https://via.placeholder.com/1000x400" alt="Image de l'appartement" style="height: 200px; width:100%; display: block;">
        
                            <div class="card-body">
                                <h4 class="card-title">Appartement de ouf</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloribus iste ullam accusantium enim natus molestiae eum magnam ipsam similique?</p>
                                <a href="#" class="btn btn-secondary">En savoir plus</a>
                            </div>
                        </div>
                    </div>
            <div class="col-md-4">
                <div class="card ng-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49€/niot</strong><br>
                        <small>Pas encore noté</small>
                    </div>
    
                    <img src="https://via.placeholder.com/1000x400" alt="Image de l'appartement" style="height: 200px; width:100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloribus iste ullam accusantium enim natus molestiae eum magnam ipsam similique?</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ng-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49€/niot</strong><br>
                        <small>Pas encore noté</small>
                    </div>
    
                    <img src="https://via.placeholder.com/1000x400" alt="Image de l'appartement" style="height: 200px; width:100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloribus iste ullam accusantium enim natus molestiae eum magnam ipsam similique?</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-4">
        <h5 class="mb-4" id="best-owner"><i class="fa fa-star" aria-hidden="true" style="color: #daa520;"></i> Nos propriétaires stars</h5>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lior Chamla</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://via.placeholder.com/64x64" alt="Avatar de lior chamla" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, velit!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lior Chamla</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://via.placeholder.com/64x64" alt="Avatar de lior chamla" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, velit!</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
