{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container text-center cont-403-div">
        <h3 class="mb-5">Une erreur s'est produite</h3>
        <div class="alert alert-danger div-403">
            <p>Il semblerait que la page que vous recherchez n'existe pas.</p>
        </div>
        <div class="mt-4">
            <a href="{{ path("homepage") }}" class="btn btn-primary">Retour à l'accueil</a>
            <a href="{{ path("ads_index") }}" class="btn btn-success">Nos annonces</a>
        </div>
    </div>
{% endblock %}